* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.flex {
    display: flex;
    gap: clamp(1rem, 1.5rem, 2rem);
    justify-content: space-between;
    align-items: center;
    /* gap: var(--gap, 1rem); */
}


/* HEADER STYLING */
.primary-header {
    /* border: 2px solid rgba(41, 23, 1, 0.514); */
    padding-inline: 2rem;
    min-height: 6rem;
    background-color: rgb(6, 4, 133);

    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
}

/* .logo {
    border: 2px solid red;
    width: 13rem;
} */
.logo img {
    /* margin: .2rem; */
    /* border: 2px solid rgba(0, 0, 0, 0.322); */
    object-position: center;
    object-fit: cover;
    max-height: 4rem;
    min-width: 10rem;
}
.primary-navigation {
    /* border: 2px solid rgb(22, 2, 2); */
    border-top: 2px solid rgba(0, 0, 0, 0.233);
    padding: min(20vh, 10rem) 2rem;
    list-style-type: none;

    transform: translateX(100%);
    transition: transform 400ms ease-in;

    position: fixed;
    inset: 5.8rem 0 0 40%;

    background-color: rgb(6, 4, 133);
    flex-direction: column;
    align-items: center;  
}
.primary-navigation-visible { /* THIS class is a new class added to change the primary-nav visibility using JS*/
    transform: translateX(0%);
}

.primary-navigation li {
    border: 2px solid rgb(255, 255, 255);
    padding: .3rem;
    /* opacity: 0; */
}
.primary-navigation a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
}
/* burger styling */
.burger {
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    
}
/* Burger icon change to X */
.close-nav .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: transform .5s ease;
}
.close-nav .line2 {
    opacity: 0;
    transition: opacity .5s ease;
}
.close-nav .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: transform .5s ease;
}


/* Dummy text */
.dummy {
    margin-top: 5.9rem;
}
/* MENU and CLOSE text styling */
.menu-text, .close-text {
    color: white;
    position: absolute;
    top: 2.5rem;
    left: 22.7rem;
}
.close-text {
    display: none;
}
/* MENU and CLOSE text displays when toggling */
.menu-text[data-visible="true"] { /*if data-visible="true" then the MENU text should NOT display*/
    display: none;
}
.close-text[data-visible="true"] { /*if data-visible="true" then the CLOSE text should display*/
    display: block;
}
